<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <netTcpBinding>
                <binding name="NetTcpBinding_IAdministradorCuenta" />
                <binding name="NetTcpBinding_IAdministradorMultijugador" />
            </netTcpBinding>
        </bindings>
        <client>
            <endpoint address="net.tcp://localhost:8091/ServidorSerpientesEscaleras/EndponitCuenta"
                binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IAdministradorCuenta"
                contract="ServiceReference.IAdministradorCuenta" name="NetTcpBinding_IAdministradorCuenta">
                <identity>
                    <userPrincipalName value="DESKTOP-GHTTJL7\irvin" />
                </identity>
            </endpoint>
            <endpoint address="net.tcp://localhost:8091/ServidorSerpientesEscaleras/EndpointMultijugador"
                binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IAdministradorMultijugador"
                contract="ServiceReference.IAdministradorMultijugador" name="NetTcpBinding_IAdministradorMultijugador">
                <identity>
                    <userPrincipalName value="DESKTOP-GHTTJL7\irvin" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>